/* Channel config */
button.ch          { min-width: 20px; width: 100%; height:  80px; font-size: 100%; border: none; background-color: #333333; color: white; }
button.ch_active   { min-width: 20px; width: 100%; height:  80px; font-size: 100%; border: none; background-color: #4CAF50; color: white; }
td.current_channel { text-align: center; font-size: 28px; height: 40px; }

/* Radio config */
button.radio        { width: 100%; height: 60px; font-size: 100%; border: none; background-color: #333333; color: white; }
button.radio_active { width: 100%; height: 60px; font-size: 100%; border: none; background-color: #4CAF50; color: white; }

select.radio_select { height: 80px; font-size: 100%; }
img.radio_img { width: 30px; height:30px }
img.radio_img_play { width: 80px; height: auto; }
button.radio_btn { width: 100%; font-size: 100%; }


input[type="number"], input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Menu Bar - curtisy w3schools */
ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.menu {
  float: left;
  border-right: 1px solid #bbb;
}

li.menu_last {
  float: right;
  border-right: none;
}

img#menu_mute {
vertical-align:middle;
float: center;
width:32px;
height:32px;
}

li.menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
}

li.menu a:hover {
  background-color: #111;
}

a.active {
  background-color: #4CAF50;
}


/* Volume Controls */
button.vol    { min-width: 20px; width: 100%; height:  80px; font-size: 100%; border: none; background-color: #aaaaaa; color: white; }
button.volall { min-width: 20px; width: 100%; height: 250px; font-size: 100%; border: none; background-color: #aaaaaa; color: white; }

input[type="range"] {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 80px;
  width: 100%;
  cursor: pointer;
  border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
  background: blue;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 80px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw blue;
  border: 2px solid #999; /* 1 */
}
